@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --violeta: #580359;
  --blanco: #ffffff;
  --violeta-claro: #CE2CE4;
}

.Landing-Container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.header-container {
  display: flex;
  width: 100%;
  /* border: 3px solid yellow; */
}

.container-logo {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-logo h2 {
  margin-left: 10px;
}

.brainLogo {
  height: 2rem;
  margin-left: 1rem;
}

.container-login {
  width: 50%;
  margin-right: 1em;
  display: flex;
  justify-content: end;
  text-align: center;
}

.login-btn {
  width: 30%;
  font-size: 1em;
  /* display: flex; */
}

.login-btn p:hover {
  background-color: #CE2CE4;
  border: 2px solid #CE2CE4;
}

.login-btn p {
  background-color: #CE2CE4;
  border: 1px solid #CE2CE4;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 1.5em;
  text-align: center;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

/* HERO */
.hero {
  height: 500px;
  background-image: url('../../assets/imagen-hero.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
}

.left-space-hero {
  width: 50%;
}

.right-space-hero {
  width: 50%;
  margin-top: 4em;
  color: #580359;
}

.right-space-hero p {
  font-size: 1em;
  font-weight: 600;
}

.btn-create {
  border: 1px solid #CE2CE4;
  background-color: #CE2CE4;
  width: 50%;
  border-radius: 8px;
  padding: .5em;
  color: white;
  font-weight: 600;
  text-align: center;
}

.btn-create:hover {
  font-size: 1.1em;
}

/* Introduccion */
.introduction-container {
  height: 700px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.intro-subtitle {
  width: 100%;
  color: #580359;
  text-align: center;
}

.intro-subtitle p {
  font-size: 1em;
  font-weight: 600;
}

.intro-subtitle hr {
  width: 15%;
  height: 5px;
  border: none;
  background-color: #CE2CE4;
  border-radius: 8px;
}

.intro-image {
  display: flex;
}

.div-intro-img {
  height: 350px;
  width: 700px;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin: 1em auto;
  background-image: url('../../assets/hiking.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.buttons-container {
  display: flex;
  /* border: 1px solid #580359; */
  justify-content: space-evenly;
  /* justify-content: center; */
}

.icon-btn {
  height: 90px;
  width: 100px;
  /* border: 1px solid #580359; */
  border-radius: 50%;
  background-color: #bc58ca;
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
}

.icon-btn p {
  text-align: center;
}

.icon-lp {
  margin-top: .2em;
  color: #580359;
  font-size: 2.5em;
}

.buttons-subtitles {
  height: 90px;
  width: 100%;
  color: #580359;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 1.1em;
}

/* footer  */
.footer-container {
  display: flex;
}

.footer-logo {
  width: 100%;
  justify-content: center;
  text-align: left;
  margin-left: 1em;
  margin-top: 1em;
}

.logo {
  font-size: 2em;
}

.footer-info {
  width: 100%;
  justify-content: right;
  text-align: right;
  margin-right: 1em;
}

@media screen and (max-width: 578px) {
  .left-space-hero {
    display: none;
  }

  .right-space-hero {
    width: 100%;
    text-align: center;
  }

  .right-space-hero h2 {
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
  }

  .right-space-hero p {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .btn-create {
    margin: auto;
  }
}

/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
} */
.bg-violeta {
  background-color: var(--violeta);
}
h1 {
  /* margin:0; */
  /* padding:0; */
  /* color: var(--violeta); */
  /* font-size: 50px; */
  /* font-style: normal; */
  /* font-weight: 700; */
  /* line-height: normal; */
  /* text-align: center; */
}
/* h2 {
  margin:0;
  padding:0;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
} */
/* h3 {
  margin:0;
  padding:0;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
} */
/* .imagen-fondo {
  background-image: url('/src/assets/imagen-hero.jpeg');
  
} */
/* .subtitulo {
  margin:0;
  padding:0;
  color: var(--violeta);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */
/* .contenedor {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
} */
/* .contenedor-row {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction:row;
  } */
  /* .boton {
    background-color:var(--violeta-claro);
    border-radius: 10px;
    color:var(--blanco);
    padding: 10px 25px;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
  } */
  /* .parrafo-small {
    font-size: 20px;
    color:var(--violeta);
    font-weight: 400;
  } */
