.header {
    background-color: #580359;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.linkStyle {
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    font-size: 1rem;
}

.linkStyle-active {
    background-color: blue;
}

.rightLink {
    margin-right: 2rem;
}
