.Header {
    background-color: #580359;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftLink {
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
}

.rightLinks {
    /* border: 1px solid red; */
    width: 60%;
    text-align: end;
    margin-right: 1rem;
}

.linkStyle {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 1em;
}

.linkStyle-active {
    background-color: #aa77ab;
    color: black;
    font-size: 1.3em;
}

@media screen and (max-width: 576px) {
    .leftLink {
        display: none;
    }

    .rightLinks {
        width: 100%;
        text-align: center;
    }
}

