/* html, 
body {
  margin: 0;
  padding: 0;
  width:100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.login {
  /* border: 1px solid red; */
}

.login_container {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  height: 100vh;
  /* border: 1px solid green; */
}
.column_left {
   flex: 50%;
   background-color: #F8F8F8;
   background-image: url(../../assets/seabackground.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.column_right {
  flex: 50%;
}

.form_container {
  /* border: 1px solid blue; */
  height: 95%;
  padding-top: 5em;
  text-align: center;
}

form {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}

form input {
  text-align: left;
}

.section-checkbox {
  display: flex;
  font-size: 1em;
  justify-content: space-between;
}

.section-checkbox-create {
  /* justify-content: left; */
  display: flex;
  width: 100%;
  justify-content: left;
  margin-top: 1em;
  margin-bottom: 1em;
  /* border: 1px solid red; */
}

.section-checkbox div {
  display: flex;
  align-items: center;
}

.section-checkbox label {
  margin-right: 5px;
}

.section-checkbox input {

}

.submit-btn-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sbt-btn {
  border: 1px solid #c423d9;
  background-color: #c423d9;
  border-radius: 5px;
  color: white;
  width: 90%;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-size: 1em;
  font-weight: 600;
  padding: .5em;
}

.link-bottom {

}

.link-bottom p {
  font-size: 1em;
}

.links {
  font-weight: 600;
}

@media screen and (max-width: 576px){
  .column_left {
    display: none;
  }
}