body {
    background-color: #D9D9D9;
    color: #711773;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

.homePageContainer {
    /* display: flex; */
    /* text-align: center; */
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* title-container-carrouseel */
.title-car-container {
    /* margin-top: 1em; */
    /* border: 2px solid yellow; */
    display: flex;
    /* flex-wrap: wrap; */
}

.section-text {
    width: 50%;
    /* border: 1px solid blue; */
}

/* title */
.hPtitle {
    padding-top: 4em;
    padding-left: 1em;
}

.hPtitle h2 {
    font-size: 2em;
}

.username {
    /* font-size: 2em; */
}

.hPtitle h4 {
    font-size: 1em;
}

.hPtitle p {
    font-size: 1.5rem;
}

.subtitle {
    color: #c423d9;
}

ul {
    color: #580359;
}

li {
    list-style: disc;
    font-weight: bold;
}

.container-btn-empezar {
    display: flex;
    margin-top: 5em;
}

.btn-empezar {
    border: 1px solid #c423d9;
    border-radius: 15px;
    background-color: #c423d9;
    color: white;
    text-align: center;
    /* padding: 1rem; */
    width: 40%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.btn-empezar p {
    font-size: 1em;
}

.btn-empezar:hover {
    background-color: #711773;
}

.btn-empezar:active {
    background-color: #580359;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

/* Caroussel */
.section-photos {
    margin: 0 auto;
    margin-top: 2rem;
    width: 50%;
    height: 450px;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    overflow: hidden;
    /* border: 1px solid blue; */
    /* background-color: lightgray; */
}

.img-caroussel {
    margin-bottom: 1rem;
    width: 450px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 25px;
    margin-top: 4rem;
}

.prev, .next {
    position: absolute;
    width: 4rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

/* Herramientas */
.tools-h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

/* Section baja de botones */
.container-secciones {
    display: flex;
    margin: 1rem auto;
    /* justify-content: space-between; */
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.calendario-btn, .audio-btn {
    border: 1px solid black;
    width: 45%;
    cursor: pointer;
}

.icon-homePage {
    max-width: 100%;
}

.calendario-btn {
    background-image: url(../src/assets/calendarBW.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    border-radius: 20px;
}

.audio-btn {
    background-image: url(../src/assets/galeriaIcon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

.p-icon {
    font-size: 1em;
}

@media screen and (max-width: 576px) {
    .title-car-container {
        display: flex;
        flex-wrap: wrap;
    }

    .section-text {
        width: auto;
    }

    .section-photos {
        width: 100%;
    }

    .container-btn-empezar {
        display: flex;
        justify-content: center;
    }

    .btn-empezar {
        text-align: center;
    }

    .img-caroussel {
        width: 400px;
    }

    .hPtitle h4 {
        font-size: 1rem;
        text-align: center;
    }

    .hPtitle p {
        text-align: center;
    }

}