.homePageContainer {
    text-align: center;
    margin: 1.5rem auto;
}

/* title-container-carrouseel */
.title-car-container {
    display: flex;
}

/* title */
.hPtitle {
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
    width: 95%;
    padding-top: 10%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
}

.hPtitle h2 {
    font-size: 2.5rem;
}

.hPtitle h3 {
    font-size: 2rem;
}

.hPtitle p {
    font-size: 1.5rem;
}

/* Caroussel */
.section-photos {
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 4rem;
    width: 90vw;
    height: 450px;
    max-width: 900px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: lightgray;
}

.img-caroussel {
    margin-bottom: 1rem;
    width: 400px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.prev, .next {
    position: absolute;
    width: 4rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

/* Herramientas */
.tools-h2 {
    font-size: 2rem;
    margin-top: 3rem;
}

/* Section baja de botones */
.container-secciones {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

.calendario-btn, .audio-btn {
    border: 1px solid black;
    width: 45%;
    cursor: pointer;
}

.icon-homePage {
    max-width: 100%;
}

.calendario-btn {
    background-image: url(../src/assets/calendarBW.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    border-radius: 20px;
}

.audio-btn {
    background-image: url(../src/assets/galeriaIcon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

.p-icon {
    font-size: 2rem;
}