/* ProfilePage.css */
.profile-page {
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr 2fr; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 8px;
    max-width: 1200px;
  }
  
  .outer-space {
    padding-top: 2em;
  }
  
  .left-column {
    display: flex;
    /* border: 2px solid blue;  */
    /* grid-column: 1; */
    width: 29%;
    flex-direction: column;
    border-left: 1px solid lightslategrey;
    /* border-top: 1px solid lightslategrey; */
  }
  
  
  .profile-info {
    /* border: 2px solid yellow; */
    text-align: center;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
  }
  
  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    height: 200px;
  }
  
  .profile-info-name-email {
    /* height: 50%; */
    font-size: 1em;
    color: black;
    font-weight: 500;
    text-align: left;
  }
  
  .profile-info-name-email p {
    margin-left: 5px;
  }
  
  .profile-buttons {
    border: 1px solid lightslategray;
    border-radius: 8px;
  }
  
  .btn-single {
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1em;
    color: black;
    cursor: pointer;
  }
  
  .btn-single p {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .logout-btn {
    color: crimson;
  }

  /* Second Column */
  
  .center-column {
    /* border: 2px solid green; */
    /* grid-column: 2 / span 2; */
    border-left: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    width: 70%;
  }

  .center-column-title {

  }

  .center-column h2 {
    font-size: 2em;
  }

  .center-column-about {
    margin: 2em auto;
    text-align: center;
    color: black;
  }

  .center-column-about p {
    font-size: large;
  }
 
  
